@model IEnumerable<CruiseBook>
@{
    ViewData["Title"] = "Index";
}



<div class="container p-3">
    <div class ="row pt-4 ">
        <div class="col -6"></div>
        <h2 class="text-primary">Cruise List</h2>
    </div>
    <div class="col -6 text-end">
        <a asp-controller="Cruise" asp-action="Create" class="btn-primary">
            <i class="bi bi-plus-circle"></i> New Bookings
        </a>

    </div>
    <br/>
    <br/>
<table class="table table-bordered table-striped" style="width:100%">

    <thead>
        <tr>
            <th>
                Cruise Name

            </th>

            <th>
            Destination Port
</th>

         <th>
             Arrival Port
         </th>
        </tr>

        

        <th></th>

    </thead>

    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50">
                    @obj.Name
                </td>
                <td width="30">
                    @obj.Destination
                </td>

                <td width="40">
                    @obj.Arrival
                </td>

                <td >
                    <div class="w-75 btn-group" role="group">
                            <a asp-controller="Cruise" asp-action="Edit" asp-route-CruiseId="@obj.CruiseId"><i class="bi bi-pencil-square"></i>Edit</a>
                    </div>

                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Cruise" asp-action="Delete" asp-route-CruiseId="@obj.CruiseId"><i class="bi bi-pencil-square"></i>Delete</a>
                        </div>
                </td>
            </tr>
        }

    </tbody>


</table>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/site.js"></script>
